body{
margin:0px;
padding:0px;


}
#screen{
	position:relative;
width:700px;
height:450px;
background:black;
margin-left:20%;
margin-top:40px;
}
#player1{
width:15px;
height:100px;
background:white;
border-bottom-left-radius:30%;
border-bottom-right-radius:30%;
position:absolute;
top:180px;
left:50px;
border-top-left-radius:30%;
border-top-right-radius:30%;
}
#player2{
width:15px;
height:100px;
background:white;
border-bottom-left-radius:30%;
border-bottom-right-radius:30%;
position:absolute;
top:180px;
right:50px;
border-top-left-radius:30%;
border-top-right-radius:30%;
}
#ball{
width:20px;
height:20px;
background:rgb(210,210,210);
border-radius:50%;
position:absolute;
top:215px;
left:350px;


}
#goal{
font-size:75px;
color:white;
position:absolute;
font-family:"Calibri";
top:90px;
left:200px;
display:none;
}